In [26]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
final_data = pd.read_csv('final_data.csv')

In [27]:
Renal_Failure_data=final_data.drop(['Unnamed: 0'], axis=1)

In [28]:
#The individual values in the string column are represented by numbers.
Renal_Failure_data['GENDER']=Renal_Failure_data['GENDER'].map({'M':1,'F':2}).astype(int)
Renal_Failure_data['MARITAL_STATUS']=Renal_Failure_data['MARITAL_STATUS'].map({'DIVORCED':1,'LIFE PARTNER':2,'MARRIED':3,'SEPARATED':4,'SINGLE':5,'WIDOWED':6}).astype(int)
Renal_Failure_data['ETHNICITY']=Renal_Failure_data['ETHNICITY'].map({'ASIAN':1,'BLACK':2,'HISPANIC':3,'WHITE':4}).astype(int)
Renal_Failure_data

,PATIENT_ID,AGE,GENDER,MARITAL_STATUS,ETHNICITY,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,diabetes,hypertension,Death_Flag
0,0,49,2,5,4,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0,1,1
1,1,23,2,5,2,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,0,0,1
2,2,76,2,3,4,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,1,1,1
3,3,69,2,3,4,0.500000,0.666667,0.333333,0.875000,0.666667,0.111111,0,1,1
4,4,58,2,6,4,0.857143,0.666667,0.888889,NaN,0.888889,0.000000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5919,5919,72,1,3,4,0.357143,0.705882,0.882353,NaN,0.764706,0.069307,0,0,0
5920,5920,78,1,3,4,0.142857,0.875000,0.875000,NaN,0.625000,0.000000,0,0,0
5921,5921,74,2,3,1,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,0,0,0
5922,5922,60,1,5,2,0.428571,0.142857,0.285714,NaN,0.428571,0.052632,0,0,0
5923,5923,87,2,6,4,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,0,1,0

In [29]:
#Check the table for null values
Renal_Failure_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5924 entries, 0 to 5923
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   PATIENT_ID           5924 non-null   int64
 1   AGE                  5924 non-null   int64
 2   GENDER               5924 non-null   int64
 3   MARITAL_STATUS       5924 non-null   int64
 4   ETHNICITY            5924 non-null   int64
 5   Blood_Calcium        5924 non-null   float64
 6   Blood_Creatinine     5914 non-null   float64
 7   Blood_Glucose        5912 non-null   float64
 8   Blood_pH             3717 non-null   float64
 9   Blood_Urea_Nitrogen  5914 non-null   float64
 10  Urine                5615 non-null   float64
 11  diabetes             5924 non-null   int64
 12  hypertension         5924 non-null   int64
 13  Death_Flag           5924 non-null   int64
dtypes: float64(6), int64(8)
memory usage: 648.1 KB

In [30]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer

pipeline = Pipeline([
    # Deal with the NaN value
    ('imputer',SimpleImputer(strategy="median"))
])

In [31]:
features_prepared = pipeline.fit_transform(Renal_Failure_data)

In [32]:
final_data_1=pd.DataFrame(features_prepared)
final_data_1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,49.0,2.0,5.0,4.0,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0.0,1.0,1.0
1,1.0,23.0,2.0,5.0,2.0,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,0.0,0.0,1.0
2,2.0,76.0,2.0,3.0,4.0,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,1.0,1.0,1.0
3,3.0,69.0,2.0,3.0,4.0,0.500000,0.666667,0.333333,0.875000,0.666667,0.111111,0.0,1.0,1.0
4,4.0,58.0,2.0,6.0,4.0,0.857143,0.666667,0.888889,0.294118,0.888889,0.000000,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5919,5919.0,72.0,1.0,3.0,4.0,0.357143,0.705882,0.882353,0.294118,0.764706,0.069307,0.0,0.0,0.0
5920,5920.0,78.0,1.0,3.0,4.0,0.142857,0.875000,0.875000,0.294118,0.625000,0.000000,0.0,0.0,0.0
5921,5921.0,74.0,2.0,3.0,1.0,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,0.0,0.0,0.0
5922,5922.0,60.0,1.0,5.0,2.0,0.428571,0.142857,0.285714,0.294118,0.428571,0.052632,0.0,0.0,0.0
5923,5923.0,87.0,2.0,6.0,4.0,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,0.0,1.0,0.0

In [33]:
final_data_1.columns=[Renal_Failure_data.columns.values]
final_data_1

,PATIENT_ID,AGE,GENDER,MARITAL_STATUS,ETHNICITY,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,diabetes,hypertension,Death_Flag
0,0.0,49.0,2.0,5.0,4.0,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0.0,1.0,1.0
1,1.0,23.0,2.0,5.0,2.0,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,0.0,0.0,1.0
2,2.0,76.0,2.0,3.0,4.0,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,1.0,1.0,1.0
3,3.0,69.0,2.0,3.0,4.0,0.500000,0.666667,0.333333,0.875000,0.666667,0.111111,0.0,1.0,1.0
4,4.0,58.0,2.0,6.0,4.0,0.857143,0.666667,0.888889,0.294118,0.888889,0.000000,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5919,5919.0,72.0,1.0,3.0,4.0,0.357143,0.705882,0.882353,0.294118,0.764706,0.069307,0.0,0.0,0.0
5920,5920.0,78.0,1.0,3.0,4.0,0.142857,0.875000,0.875000,0.294118,0.625000,0.000000,0.0,0.0,0.0
5921,5921.0,74.0,2.0,3.0,1.0,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,0.0,0.0,0.0
5922,5922.0,60.0,1.0,5.0,2.0,0.428571,0.142857,0.285714,0.294118,0.428571,0.052632,0.0,0.0,0.0
5923,5923.0,87.0,2.0,6.0,4.0,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,0.0,1.0,0.0

In [34]:
final_data_1[['PATIENT_ID']] = final_data_1[['PATIENT_ID']].astype(int)
final_data_1[['AGE']] = final_data_1[['AGE']].astype(int)
final_data_1[['GENDER']] = final_data_1[['GENDER']].astype(int)
final_data_1[['MARITAL_STATUS']] = final_data_1[['MARITAL_STATUS']].astype(int)
final_data_1[['ETHNICITY']] = final_data_1[['ETHNICITY']].astype(int)
final_data_1[['diabetes']] = final_data_1[['diabetes']].astype(int)
final_data_1[['hypertension']] = final_data_1[['hypertension']].astype(int)
final_data_1[['Death_Flag']] = final_data_1[['Death_Flag']].astype(int)
final_data_1

,PATIENT_ID,AGE,GENDER,MARITAL_STATUS,ETHNICITY,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,diabetes,hypertension,Death_Flag
0,0,49,2,5,4,0.131579,0.613636,0.807692,0.379310,0.954545,0.031746,0,1,1
1,1,23,2,5,2,0.625000,0.000000,0.495652,0.190476,0.029412,0.065217,0,0,1
2,2,76,2,3,4,0.222222,0.965517,0.833333,0.200000,0.965517,0.090909,1,1,1
3,3,69,2,3,4,0.500000,0.666667,0.333333,0.875000,0.666667,0.111111,0,1,1
4,4,58,2,6,4,0.857143,0.666667,0.888889,0.294118,0.888889,0.000000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5919,5919,72,1,3,4,0.357143,0.705882,0.882353,0.294118,0.764706,0.069307,0,0,0
5920,5920,78,1,3,4,0.142857,0.875000,0.875000,0.294118,0.625000,0.000000,0,0,0
5921,5921,74,2,3,1,0.500000,0.117647,0.823529,0.333333,0.470588,0.260870,0,0,0
5922,5922,60,1,5,2,0.428571,0.142857,0.285714,0.294118,0.428571,0.052632,0,0,0
5923,5923,87,2,6,4,0.166667,0.148148,0.744681,0.285714,0.481481,0.243243,0,1,0

In [35]:
#Observe the balance of data
final_data_1.Death_Flag.value_counts()

(Death_Flag,)
0                4886
1                1038
dtype: int64

In [36]:
corrRF = final_data_1.corr()
corrRF

,PATIENT_ID,AGE,GENDER,MARITAL_STATUS,ETHNICITY,Blood_Calcium,Blood_Creatinine,Blood_Glucose,Blood_pH,Blood_Urea_Nitrogen,Urine,diabetes,hypertension,Death_Flag
PATIENT_ID,1.000000,-0.046505,-0.020489,0.014584,-0.044368,-0.069630,-0.136426,-0.025328,-0.172315,-0.161537,0.160212,0.021020,0.026408,-0.657551
AGE,-0.046505,1.000000,0.054233,0.050567,0.098457,-0.018013,0.115092,0.078542,-0.013202,0.290250,0.046861,-0.070060,0.065910,0.084574
GENDER,-0.020489,0.054233,1.000000,0.177267,-0.067588,-0.040400,-0.137075,-0.058467,0.040831,-0.072253,0.036888,0.004285,0.044105,0.007392
MARITAL_STATUS,0.014584,0.050567,0.177267,1.000000,-0.072431,-0.025401,-0.033334,-0.033745,-0.014772,-0.020987,-0.007321,-0.010606,0.002693,-0.011911
ETHNICITY,-0.044368,0.098457,-0.067588,-0.072431,1.000000,0.074422,-0.040664,0.008401,-0.023908,0.064267,-0.012766,-0.011337,0.011515,0.048819
Blood_Calcium,-0.069630,-0.018013,-0.040400,-0.025401,0.074422,1.000000,-0.072163,0.011184,0.067016,-0.054975,0.063704,-0.022031,-0.003715,0.071108
Blood_Creatinine,-0.136426,0.115092,-0.137075,-0.033334,-0.040664,-0.072163,1.000000,0.055137,0.158133,0.618745,-0.037078,0.087847,-0.180388,0.104838
Blood_Glucose,-0.025328,0.078542,-0.058467,-0.033745,0.008401,0.011184,0.055137,1.000000,-0.028054,0.176578,0.048175,0.094818,0.082380,0.042564
Blood_pH,-0.172315,-0.013202,0.040831,-0.014772,-0.023908,0.067016,0.158133,-0.028054,1.000000,0.091371,-0.023187,0.010726,-0.034923,0.229675
Blood_Urea_Nitrogen,-0.161537,0.290250,-0.072253,-0.020987,0.064267,-0.054975,0.618745,0.176578,0.091371,1.000000,0.026022,0.074366,-0.049559,0.137299
Urine,0.160212,0.046861,0.036888,-0.007321,-0.012766,0.063704,-0.037078,0.048175,-0.023187,0.026022,1.000000,-0.004765,0.046250,0.033688
diabetes,0.021020,-0.070060,0.004285,-0.010606,-0.011337,-0.022031,0.087847,0.094818,0.010726,0.074366,-0.004765,1.000000,0.020254,-0.061823
hypertension,0.026408,0.065910,0.044105,0.002693,0.011515,-0.003715,-0.180388,0.082380,-0.034923,-0.049559,0.046250,0.020254,1.000000,-0.050649
Death_Flag,-0.657551,0.084574,0.007392,-0.011911,0.048819,0.071108,0.104838,0.042564,0.229675,0.137299,0.033688,-0.061823,-0.050649,1.000000

In [37]:
final_data_1.to_csv('processed_data2.csv')